<h1>Create a cafe database login here =></h1>
    
 <form method="POST" action='/signup'>
 <h2>Name:</h2><input type="text" id="username" name="username">
 <h2>Password:</h2><input type="text" id="password" name="password">
 <input type="submit" value="Sign Up">
